.App {
  text-align: center;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  background-color: #FAF7F0;
}

.col-sm-6 {
  border: solid 2px azure;
  border-radius: 1em;
  background-color: #BCCEF8 ; /* #BCCEF8 #C0EBE9 */
  /* margin: 5px 5px 5px 5px; */
}

/* .gridsection .timeweather {
  height: 300px;
} */

/* The above sets the timeweather div and hence the stickynotes div at a set height */
