.LuckGame .lucky img {
    height: 400px;
    margin-bottom: none;
}

.LuckGame .country {
    height: 400px;
    background-image: url("https://media1.giphy.com/media/26tOZ42Mg6pbTUPHW/giphy.gif?cid=ecf05e47a9s6x37x2q2wlsxbq0y4su6n0dhx1wegqdpi0v9b&rid=giphy.gif&ct=g");
    background-repeat: no-repeat;
    /* background-position: center; */
    margin-bottom: none;
    position: relative;
    text-align: center;
}

.LuckGame .country .countrytext {
    height: 300px;
    font-size: 100px;
    color: white;
    position: absolute;
}
