.NotesView {
    width: 100%;
    /* margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px; */
    border: solid rgb(250, 250, 250);
    border-radius: 1%;
    height: 420px;
    max-height: 420px; /* defines the max height of an element */
    overflow: auto; /*how container handles the overflow content */
  }

  .NotesView .formlist {
      display: inline-flex;
      flex-wrap: wrap;
  }

  /* The below hides scrollbar but keeps functionality */
.NotesView::-webkit-scrollbar {
    display: none;
  }