.NotesView {
    height: 400px;
    max-height: 400px;
    overflow: scroll;
}

/* The above height sets the height of the container for both NotesView and TimeWeather */

/* The below hides scrollbar but keeps functionality */
.NotesView::-webkit-scrollbar {
    display: none;
}