*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.PhotoCarouselView {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.carousel {
    margin: 10px auto;
    overflow: hidden;
    max-width: 900px; 
    position: relative;
}

.carousel-inner {
    white-space: nowrap;
    /* nowrap collapses white space as for normal but suppresses line breaks (text wrapping) within the source */
    transition: ease 1s;
    /* specifies a transition effect with a slow start, then fast, then end slowly */
}



