.TimeWeatherView {
  width: 100%;
  /* margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px; */
  border: solid rgb(250, 250, 250);
  border-radius: 1%;
  height: 420px;
  margin-bottom: 8px;
}


.cities {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  font-size: 20px;
}