.carousel-control {
    /* background-color: rgba(0,0,0,0.5); */
    border: none;
    display: inline-block;
    position: static;
    /* this position needs to be static (default is static) so buttons can be placed absolute (relative to it) */
    height: 0px;
    width: 70px;
    top: calc(50% - 10px);
    color: #f3f3f3;
    cursor: pointer;
}

.carousel-control .left {
    left: 0;
    background-color: rgba(0,0,0,0.5);
    border: none;
    display: inline-block;
    position: absolute;
    /* Positioned relative to the nearest positioned ancestor (instead of positioned relative to the viewport, like fixed) */
    height: 40px;
    width: 55px;
    top: calc(50% - 40px);
    color: #f3f3f3;
    cursor: pointer;
    font-size: small;
    border-radius: 10px;
}

.carousel-control .right {
    right: 0;
    background-color: rgba(0,0,0,0.5);
    border: none;
    display: inline-block;
    position: absolute;
    /* Positioned relative to the nearest positioned ancestor (instead of positioned relative to the viewport, like fixed) */
    height: 40px;
    width: 55px;
    top: calc(50% - 40px);
    color: #f3f3f3;
    cursor: pointer;
    font-size: small;
    border-radius: 10px;
}

