.CarouselItem {
  /* display: inline-block;  */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: green;
  /* causes the items to be next to each other */
  width: 100%;
  /* margin-bottom: 10px; */
}

/* .CarouselItem img {
    width: 100%;
} */
