.NoteForm {
    background-color: #67d7cc;
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 150px;
    margin-top: 0.8em;
    margin-left: 1em;
    border-radius: 15px;
}

textarea {
    border: none;
    border-radius:1em;
    position: center;
    resize: none;
    background-color: #67d7cc;
    padding: 1rem;
    min-height: 150px;
    font-size: small;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

textarea::-webkit-scrollbar {
    display: none;
}

textarea:focus {
    outline: none;
}

.Notebutton {
    position: relative;
    top: -18px;
    background-color: rgb(233, 233, 233);
    border: none;
    border-radius: 15px;
    border-color: azure;
    padding: 5px 10px 5px 10px;
    height: 3.2vh;
    font-size: 1.5vh;
}

.Notebutton:hover {
    background-color: #C1A5E3;
    cursor: pointer;
}