.NotesList {
  /* max-width: auto; */
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.NotesList ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px;
  margin: 0px;
}

.NotesList li {
  cursor: pointer;
  background-image: url(../assets/post-it-note.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem;
  height: 180px;
  width: 180px;
}

.NotesList .text {
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Keep any spacing added to the text */
  white-space: pre-wrap;
  overflow-y: scroll;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  font-size: small;
}

.NotesList .text::-webkit-scrollbar {
  display: none;
}

.delete-icon {
  cursor: pointer;
}

ul {
  list-style: none;
  display: grid;
  grid-gap: 1rem;
  /* Notes: column cannot be smaller than 250px, cannot be bigger than 1fr (fractional unit is whatever is available) */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.NotesList footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
